# Ignore system-specific and platform directories
/android/
/ios/
/macos/
/linux/
/windows/
/web/

# Ignore IDE/editor settings and project files
.vscode/
.idea/
*.iml

# Ignore Flutter and Dart build outputs and tools
/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
pubspec.lock

# Miscellaneous
.DS_Store
*.log
*.class
*.pyc
*.swp
